<app-header></app-header>

<div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>name</th>
      <th>designation</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td id="name">{{employee.name}}</td>
            <td id="desig">{{employee.designation}}</td>
            <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td>
            </tr>
    </tbody>
      </table>
  
    </div>